* {
  margin: 0px;
  padding: 0px;
  font-family: cursive;
  box-sizing: border-box;
}

/* home page */
.home {
  width: 100%;
  background-size: contain;
  background-color: #105975;
  background-repeat: no-repeat;
  background-position: center;
  scroll-behavior: smooth;
}

#home {

  background-image: url("https://t4.ftcdn.net/jpg/06/28/77/29/240_F_628772979_HnJRXKfl5sGN8Qj4Nlkl4j2jwebdXe9X.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;


}

.caption-header {
  margin-bottom: 15em;
}

/* about page */
#about {

  background-image: url("https://t3.ftcdn.net/jpg/05/08/80/20/240_F_508802083_H7q5pAfTFBRdObFIExIZRgEy6qKElMV5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 2em;
  color: black;
}

.aboutUs {
  margin-top: 2em;
}

.caption-about {
  margin-top: 9em;
  margin-left: 7em;
}

.about-name {
  color: purple;
}

.about-hd {
  color: darkgreen;
}

/* login page */
.login {
  /* background-image: url("../src/Asset/abstract-uv-ultraviolet-light-composition.jpg"); */
  background-image: url("https://t4.ftcdn.net/jpg/06/37/18/51/240_F_637185111_bgggej9twByRjw7Ryqn9F5MdyVi8ado4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 450px;
  height: 400px;
  background-color: rgb(27, 26, 26);
  border-radius: 1em;
  margin-bottom: 2em;
  border: 2px solid rgb(248, 242, 248);
  padding: 1em;
}

.login-title {
  display: flex;
  justify-content: center;
  color: rgb(210, 193, 193);
}

.login-header {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: rgb(157, 177, 157);
}

/* customer sign up */

.customer-signUp {

  background-image: url("https://t4.ftcdn.net/jpg/06/23/24/03/240_F_623240349_aCmGPKwic0PIumohlr0jgYPzAozuJdE3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.customer-signUpForm {
  width: 450px;
  height: 100vh;
  margin-top: 8em;
}

.customer-signUp-title {
  display: flex;
  justify-content: center;
  color: rgb(211, 11, 11);
}

.customer-SignUp-header {
  font-size: 2em;
}

/* customer login */

.customer-login {
  /* background-image: url("../src/Asset/blue-background-with-dark-blue-background-light-blue-background.jpg"); */
  /* background-image: url("https://t4.ftcdn.net/jpg/06/37/18/51/240_F_637185111_bgggej9twByRjw7Ryqn9F5MdyVi8ado4.jpg"); */
  /* background-image: url("https://t4.ftcdn.net/jpg/06/23/76/21/240_F_623762114_bpuHhHLsyZpe7xp4R5ff10nJy0sdGvpA.jpg"); */
  /* background-image: url("https://t3.ftcdn.net/jpg/02/93/97/96/240_F_293979646_NUleDAp6GqyhT6dztQtuprvUDxuN2gFG.jpg"); */
  /* background-image: url("https://t4.ftcdn.net/jpg/06/25/12/35/240_F_625123594_WwODAA9CaW8TAtIA5tuX69su6JKfpl18.jpg"); */
  /* background-image: url("https://t3.ftcdn.net/jpg/06/16/88/06/240_F_616880663_zu38vhWozYlFc7yqKNDcXTdaIU4fuqPH.jpg"); */
  background-image: url("https://t4.ftcdn.net/jpg/06/16/09/73/240_F_616097302_uNgcfX8z6v5se4AeC48kWdLUSxt3iXlc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customerLoginForm {
  width: 450px;
  height: 480px;
  background-color: lightblue;
  border-radius: 1em;
  margin-bottom: 2em;
  border: 2px solid green;
  box-shadow: 1px 1px 1.1em darkgreen;
  padding: 1em;
}

.customerLogin-title {
  display: flex;
  justify-content: center;
  color: brown;
}

.customerLogin-header {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: darkgreen;
}

/* Navigation  */
.navbar-collapse {
  justify-content: flex-end;
}

.navbar {
  color: white;
  font-weight: 500;
}

#basic-nav-dropdown {
  color: #808dad;
}

.navlist {
  color: #808dad;
}

button.navbar-toggler,
button.navbar-toggler.collapsed {
  background-color: lightgray;
}

.navigation {
  position: fixed;
  background-color: #202124;
  transition: 0.2s;
  box-shadow: 1px 1px 1.1em lightgreen;
}

.me-auto {
  margin-left: 40rem;
  gap: 4rem;
  color: white;
}

/* Home Page design */
.fg-theme {
  color: red;
}

.caption-header {
  margin-top: 10em;
  margin-left: 5rem;
  color: white;
}

.home-hd {
  font-size: 2em;
  color: #2954d7;
}

.name-hd {
  color: #04a917;
}

#home h2 {
  font-size: 3.5em;
}

/* Contact page design*/
.contact-hd {
  color: #04a950;
  background-color: white;
  border: 1px solid #04a950;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  font-size: 1.8em;
  margin-top: 2em;
}

.contact-info {
  width: 100%;
  height: 15em;
  margin-top: 2em;
  border: 1px solid yellow;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  color: white;
}



.mobile-details {
  font-size: 1em;
  color: white;
  margin-left: 1.2em;
}

.mail-details {
  font-size: 1em;
  color: white;
  margin-left: 1em;
  margin-top: 1em;
}

.img-details {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
}

.media-link img:hover {
  box-shadow: 1px 1px 1.1em gray;
}

/* Product page */

.menu-body {
  background-color: rgb(49, 48, 48);
  width: 100%;
  height: 100%;
  padding-top: 2em;
}

.card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.card {
  box-shadow: 1px 1px 1.1em white;
}

/* cart page */

.cart-header {

  background-image: url("https://images.pexels.com/photos/7002964/pexels-photo-7002964.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

#cart {
  display: flex;
  justify-content: center;
}

.cart-title {

  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(226, 15, 15);
  font-size: 1.5em;
  border-radius: 0.5em;
}

.cart-total {
  background-color: white;
  border-radius: 3em;
  width: 250px;
  height: 200px;
  box-shadow: 1px 1px 1.1em white;
}

.cart-info {
  display: flex;
  justify-content: center;
}

/* order page */

.order-success {

  background-image: url("https://t4.ftcdn.net/jpg/06/23/59/67/240_F_623596722_OxXqW7aUSMqvKDc8d1acez8fHD3VlRkM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  color: whitesmoke;
}

.your-orders {

  background-image: url("https://t4.ftcdn.net/jpg/06/20/71/99/240_F_620719956_rsVjDF0IQcsx2viWrnQWPyc90AQvQCfF.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.your-orders-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.table-order {
  color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  width: 100%;
  height: 100%;
}


.order_status {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

.icon {
  font-size: 2em;
  color: red;
}